@import url("http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url('gamma.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 32px;
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 18px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: blueviolet ;
}
.content h1{
    font-size: 80px;
    margin-top: 5px;
}
.content h2{
    font-size: 60px;
    margin-top: 5px;
}
.content p{
    margin: 10px auto;
    font-weight: 100;
    line-height: 25px;
}